---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

# Indentation
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
ContinuationIndentWidth: 4

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

# Pointers and references
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

# Includes
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '<[[:alnum:]_]+>'
    Priority:        1
  - Regex:           '<[[:alnum:]_]+\.h>'
    Priority:        2
  - Regex:           '<.*>'
    Priority:        3
  - Regex:           '"thumper/.*"'
    Priority:        4
  - Regex:           '".*"'
    Priority:        5

# Namespaces
NamespaceIndentation: None
CompactNamespaces: false

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Comments
ReflowComments: true

# Misc
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
